extends layout

block content

	div.jumbotron

		h3 #[b Ouch!] Wrong page?
		p You're probably used to seeing these pages by now. In case you're not, here are a few things you should try:

		- var searchUrl = "https://duckduckgo.com/?q=" + "\"tuday\"" + path

		ul

			li Accept the fact that you're probably not going to be able find what you're looking for.
			li Search for what you're looking for. Or just click #[a(href = searchUrl target = "_blank") here].
			li Ask the owner of the link why they're so evil.