extends layout

block content

	div.jumbotron

		h3 #[b Well...] This is embarrassing.
		p Something bad happened but it's not you're fault! Please report the gibberish below to the GitLab issues #[a(href = "https://gitlab.com/devluke/tuday/issues" target = "_blank") page].

		hr

		code= error