extends layout

block content

	br
	br
	br

	h1.display-4 Today is #{dateFormat(now, "dddd")},
	h3 #{dateFormat(now, "mmmm d, yyyy")}.

	br
	br
	br
	br

	div.jumbotron

		h4 Sign up or log in to see the rest of your view.