doctype html
html(lang="en")

	head

		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		// Bootstrap CSS
		link(rel="stylesheet", href="/css/bootstrap.min.css")

		link(rel="stylesheet", href="/css/tuday.css")

		title Tuday - #{title}

	body

		nav.navbar.navbar-light.bg-light

			div.container
			
				a.navbar-brand(href = "/") #[b Tuday]

		br

		div.container

			- const messages = getMessages();

			if messages.primary

				each msg in messages.primary

					div.alert.alert-primary(role = "alert")= msg

			if messages.secondary

				each msg in messages.secondary

					div.alert.alert-secondary(role = "alert")= msg

			if messages.success

				each msg in messages.success

					div.alert.alert-success(role = "alert")= msg

			if messages.danger

				each msg in messages.danger

					div.alert.alert-danger(role = "alert")= msg

			if messages.warning

				each msg in messages.warning

					div.alert.alert-warning(role = "alert")= msg

			if messages.info

				each msg in messages.info

					div.alert.alert-info(role = "alert")= msg

			if messages.light

				each msg in messages.light

					div.alert.alert-light(role = "alert")= msg

			if messages.dark

				each msg in messages.dark

					div.alert.alert-dark(role = "alert")= msg

			block content

		//-
			footer.fixed-bottom

				div.container

					div.row

						div.col-md-3

							h3 About Us

							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet consectetur dolor in elementum.

						div.col-md-2(style = "margin-top: 15px;")

							ul.list-unstyled

								li #[a(href = "#") Lorem Ipsum]
								li #[a(href = "#") Lorem Ipsum]
								li #[a(href = "#") Lorem Ipsum]
								li #[a(href = "#") Lorem Ipsum]

						div.col-md-2(style = "margin-top: 15px;")

							ul.list-unstyled

								li #[a(href = "#") Lorem Ipsum]
								li #[a(href = "#") Lorem Ipsum]
								li #[a(href = "#") Lorem Ipsum]
								li #[a(href = "#") Lorem Ipsum]

						div.col-md

							h5 #[b Contact Info]

							p #[b Address:] Random Address
							p #[b Email:] Random Email
							p #[b Tel.:] Random Number

		script.

			window.setTimeout(function() {
				
				$(".alert").fadeTo(500, 0).slideUp(500, () => {

					$(this).remove(); 

				});

			}, 4000);

		script(src="/js/jquery-3.3.1.min.js")
		script(src="/js/bootstrap.min.js")