extends layout

block content

	h1 Login
	p Login to your Tuday account

	hr
	br

	form(action = "/login" method = "POST")

		div.form-group

			label(for = "email") Email address

			input.form-control(type = "email" placeholder = "Email address" name = "email" required)

		div.form-group

			label(for = "password") Password

			input.form-control(type = "password" placeholder = "Password" name = "password" required)

		button.btn.btn-primary(type = "submit") Submit

		br
		br

		p Don't have an account? #[a(href = "/register") Register here].