extends layout

block content

	h1 Register
	p Create a free account

	hr
	br

	form(action = "/register" method = "POST")

		div.form-group

			label(for = "name") Name

			input.form-control(type = "text" placeholder = "Name" name = "name" pattern = ".{1,50}" title = "Name must be 1 to 50 characters long." value = name required)

			label.text-danger(for = "name")= nameError

		div.form-group

			label(for = "username") Username

			input.form-control(type = "text" placeholder = "Username" name = "username" pattern = ".{3,15}" title = "Username must be 3 to 15 characters long." value = username required)

			label.text-danger(for = "username")= usernameError

		div.form-group

			label(for = "email") Email address

			input.form-control(type = "email" placeholder = "Email address" name = "email" value = email required)

			label.text-danger(for = "email")= emailError

		div.form-group

			label(for = "password") Password

			input.form-control(type = "password" placeholder = "Password" name = "password" pattern = ".{8,}" title = "Password must be at least 8 characters long." value = password required)

			label.text-danger(for = "password")= passwordError

		button.btn.btn-primary(type = "submit") Submit

		br
		br

		p Already have an account? #[a(href = "/login") Login here].